/* div{
    background:url(../assets/images/solar-panels-wind-turbines-green-energy-concept\ 1.jpg) ;
} */
 .text-design-1{

 }

/* .hero {
    background-image: url("../assets/Imgs/solar-panels-wind-turbines-green-energy-concept.jpg");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    /* height:1vh; */
} */