.navbar {
    background-color: #0a3b59; /* Bleu foncé */
}
.navbar-brand {
    font-weight: bold;
}
.navbar-brand span {
    color: #5ed75e;
}
.navbar-brand span #white{
    color: white;
}
.navbar-nav .nav-link {
    color: white;
    margin-right: 20px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    color: #5ed75e; /* Vert */
}
.btn-quote {
    border: 1px solid white;
    color: white;
}
.btn-quote:hover {
    background-color: white;
    color: #0a3b59;
}
.input-group-text {
    background-color: #5ed75e;
    color: white;
    border: none;
}
.search-input {
    border: none;
}

.carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out; /*Transition en douceur*/
    opacity: 0;/*Initialement invisible*/
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-item.active{
    opacity: 1;/*visible quand active*/
}

.fixed-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    color: white;
}